<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=10.164.22.128;Initial Catalog=WFT7DB;User ID=sa;Password=xtract1!" />
    <!--add name="prefixPatern" prefixP="Trump"/ -->
    <add name="TestWFConnectionString" connectionString="Data Source=.;Initial Catalog=TestWFDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
</configuration>
<!--ProjectGuid: B7F32348-B5DC-45C9-8151-6F254FAC8B92-->