<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--add name="connStr" connectionString="Data Source=10.161.149.104;Initial Catalog=WFT7DB;User ID=sa;Password=xtract1!"/ -->
	<add name="connStr" connectionString="Data Source=10.164.22.128;Initial Catalog=WFT7DB;User ID=sa;Password=xtract1!" />
  </connectionStrings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Host" value="TLVSMTP.verint.corp.verintsystems.com"/>
    <add key="EnableSsl" value="false"/>
    <add key="UserName" value="WebintJIRA@verint.com"/>
    <add key="Password" value="Welcome1!"/>
    <add key="Port" value="25"/>
    <add key="Recipients" value="Adriana.Alexandrova@verint.com, Krasimir.Rusev@verint.com, Stefan.Mladenov@verint.com, Grigor.Penev@verint.com,Valentin.Rubenchik@verint.com, Venko.Slavchev@verint.com, Dilyan.Yankov@verint.com, Tomer.Pomerance@verint.com,  Guy.Plotnik@verint.com, PetarGeorgiev.Kenarov@verint.com"/>


  </appSettings>
</configuration>
